* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --carbon-3: #f2f4f6;
  --carbon-neutral-screen-bg: #f8f9fa;
}
.container {
  height: 600px;
  width: 1280px;
  border: 1px solid var(--carbon-3);
  margin: auto;
  margin-top: 12vh;
  padding-top: 80px;
  position: relative;
}
